@font-face {
  font-family: "Poppins-regular";
  src: url("./Fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("./Fonts/Poppins-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-light";
  src: url("./Fonts/Poppins-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
:root {
  font-family: "Poppins-light";
  display: flex;
  justify-content: center;
  background-color: #1c1c1c;
}
